html, body{
    overflow-x: hidden;
    }

#footer
{
    background-color: #190714;
    color: white;
}
#footerDivider
{
background-color:#2A0A29;
color: white;

}
#header
{
    background-color:#2A0A29;
    color: white;
}
.card
{
    background-color:#2A0A29 ;
    color: white;
   
}
.card .capa
{
    position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
}
.card .capa h3
{
   margin-top: 50px;
}
.card:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.repro 
{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.contenedor
{
    height: 900px;
    background-color: black;
    overflow: hidden;
}


