html, body{
    overflow-x: hidden;
    background-color: black;
    }

#footer
{
    background-color: #190714;
    color: white;
}
#footerDivider
{
background-color:#2A0A29;
color: white;

}
#header
{
    background-color:#2A0A29;
    color: white;
}
.card
{
    background-color:#2A0A29 ;
    color: white;
   
}
.fondo
{
    background-color: thistle;
}
.card .capa
{
    position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        transition: all 400ms ease-out;
        opacity: 0;
        visibility: hidden;
       text-align: center;
}
.content
{
    background-color: #2A0A29;
}
.card .capa h3
{
   margin-top: 50px;
}
.card:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.repro 
{
    width: 90%;
    margin: auto;
    margin-top: 20px;

}
.contenedor
{

    background-color: black;
   
}
.container-fluid
{
    margin: auto;
}
.fa:hover{
    color: yellow;
}


